*   {
    font-family: 'Josefin Sans', sans-serif;
}
body {
    background-color: #000000;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
} 
button {
    margin-right: 15px;
    margin-left: 15px;
    padding: 6px;
    background: #b11c75;
    border: solid #883881;
}
#header {
    align-content: center;
    text-align: center;
    font-size: 5em;
    color:#b11c75;
    text-shadow: 3px 2px #883881;
}
#navbar {
    float: right;
    align-content: right;
    max-width: 300px;
}
