* {
    background: #28283e;
    color: grey;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url ("images/corner-ornament.gif");
  }
  #header {
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  #tagline  {
    font-size: 2em;
    text-align: center;
  }
  .searchArea {
    margin: 6px 6px 6px 15px ;
  }
  .searchBar  {
    background-color: silver;
    color: #28283e;
    border: grey;
    border-style: outset;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  button  {
    margin: 3px;
    background-color: silver;
    color: #28283e;
    border: grey;
    border-style: outset;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  button:hover {
    background-color: #28283a; 
    color: white;
  }